<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISI | Dashbord </title>
    <link rel="stylesheet" href="memberpagestyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
<header>
    <div class="imgdiv">
        <a href="/"><img src="Data/LOGO/LOGO MODERN1.png"></a>
    </div>
    <div class="infosdiv">
        <a href="/">
        <div class="usernamediv">
            <p>username</p>
        </div>
        <div class="userimgdiv">
            <img src="Data/members/defailt_pic.jpg">
        </div>
    </a>
    </div>
</header>
</body>